.hero{
    text-align: center;
    margin-top: 100px;
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img{
            transform: scale(1.0);
        }  
        p{
            color: rgb(202, 202, 202);
        }
        text-align: center;
        &__button{
            p{
                margin-top: 5px;
                font-size:  13px;
                font-family: 'Rubik', sans-serif;                
            }
            button{
                font-size: 30px;
                padding:  10px 10px;
                border-radius: 8px;
                border: none;
                color: white;
                background-color: transparent;
                border: 2px solid rgb(248, 204, -0);
            }
            button:hover{
                background-color: rgb(248, 204, -0);
            }
        }      
    }
    i{
        font-size: 100px;
    }
}